.container {
    display: flex;
    flex-direction: column;

    height: 100vh;

    .navigation {
        background-color: lightgray;
        padding: 16px;

        .list {
            list-style: none;

            display: flex;
            align-items: center;

            .item {
                margin-right: 32px;
            }
        }
    }

    .main {
        flex: 1;
        padding: 16px;

        display: flex;
        flex-direction: column;

        height: calc(100vh - 32px);
        overflow-y: scroll;
    }
}