<div local-class="container {{if this.isAmazing "is-amazing"}}">
    <img
        alt=""
        local-class="image"
        role="presentation"
        src={{@product.imageUrl}}
    >
    <div local-class="name">
        {{@product.name}}
    </div>
    <div local-class="price">
        ${{@product.price}}
    </div>
</div>