<div style={{if this.isAmazing "border: 4px solid gold;"}}>
    <img
        alt=""
        role="presentation"
        src={{@product.imageUrl}}
    >
    <div>{{@product.name}}</div>
    <div>${{@product.price}}</div>
</div>