<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each @model as |product|}}
            <tr>
                <td>{{product.name}}</td>
                <td>${{product.price}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{outlet}}