<h1>Products</h1>

<div local-class="container">
    <div local-class="filter-menu">
        <div local-class="filter-input-container">
            <InputComponent
                @ariaLabel="Filter by Name"
                @placeholder="Filter by name. Cake, coffee, etc."
                @onInput={{this.filterByName}}
            />
        </div>

        <div local-class="filter-input-container">
            <div local-class="input-placeholder">
                Filter by rating
            </div>
        </div>

        <div local-class="filter-input-container">
            <div local-class="input-placeholder">
                Sort by
            </div>
        </div>
    </div>

    <div local-class="search-results">
        <ul local-class="list">
            {{#each @model as |product|}}
                <li local-class="item">
                    <LinkTo
                        @route="products.product"
                        @model={{product.id}}
                    >
                        <ProductCard
                            @product={{product}}
                        />
                    </LinkTo>
                </li>
            {{/each}}
        </ul>

        {{outlet}}
    </div>
</div>