<h1>Products</h1>

<div local-class="container">
    <ul local-class="list">
        {{#each @model as |product|}}
            <li local-class="item">
                <LinkTo
                    @route="products.product"
                    @model={{product.id}}
                >
                    <ProductCard
                        @product={{product}}
                    />
                </LinkTo>
            </li>
        {{/each}}
    </ul>

    {{outlet}}
</div>