<h1>Products</h1>

<ul>
    {{#each @model as |product|}}
        <li>
            <div>
                <img
                    alt=""
                    role="presentation"
                    src={{product.imageUrl}}
                >
                <div>{{product.name}}</div>
                <div>${{product.price}}</div>
            </div>
        </li>
    {{/each}}
</ul>

{{outlet}}